.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    background-color: var(--card-color);
    border-bottom: 1px solid var(--card-secondary);
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 280px;
    right: 0;
    height: fit-content;
    transition: left 0.3s ease;
}

.header.sidebar-collapsed {
    left: 80px;
    width: calc(100% - 80px);
}

.header-start {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-start h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: var(--text-primary);
}

.header-start h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-secondary);
}

.header-end {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: var(--text-secondary);
    background-color: var(--card-secondary);
    padding: 8px 12px;
    border-radius: 16px;
    border: 1px solid var(--text-muted);
}

.header-end h1 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 400;
}

.time{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.header-end-cont{
    display: flex;
    align-items: center;
    gap: 12px;
}
.notification {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    position: relative;
}
.notification-icon{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 10px;
}
.notification-count {
    position: absolute;
    top: -4px;
    right: -4px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}

.notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--card-color);
    border: 1px solid var(--card-secondary);
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
}

.notification-item .notification-date {
    font-size: 12px;
    color: var(--text-muted);
}
.notification-dropdown.active {
    display: flex;
}
.notification-dropdown .notification-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    border-radius: 4px;
    border-bottom: 1px solid var(--card-secondary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: background-color 0.2s ease;
}
.notification-dropdown .notification-item:last-child {
    border-bottom: none;
}
.notification-dropdown .notification-item:hover {
    background-color: var(--card-hover-secondary);
    cursor: pointer;
}
.notification-dropdown .notification-item .notification-icon {
    width: 32px;
    height: 32px;
    font-size: 14px;
}
@media (max-width: 768px) {
    .header {
        left: 0;
        width: 100%;
        z-index: 999;
        align-items: center; 
        display: flex;
        padding: 12px 16px 12px 52px;
        border-bottom: 1px solid var(--card-secondary);
    }

    .header-end {
        display: none;
    }
    
    .header-start{
        align-items: center;
        margin-left: 0;
        margin-top: 0;
        text-align: center;
        margin-right: 30px;
        width: 100%;
    }

    .header-start h1 {
        font-size: 18px;
    }

    .header-start h2{
        display: none;
    }
    
    .header.sidebar-collapsed {
        left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 12px 10px 48px;
    }

    .header-start h1 {
        font-size: 16px;
    }
}
